@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    
}
ul {
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  display: flex;
    flex-wrap: wrap;
}
header {
  background-image: linear-gradient(0deg, #153652 0%, #00B4DB 100%);
  height: 725px;
  padding: 10px 0;
  
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}


.navbar {
  height: 85px;

}

.title {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.title a {
  font-weight: bold;
  color: #153450;
  font-size: 25px;
  display: flex;
  transition: color 0.1s linear;
  align-items: center;

}


.title a:hover {
  color: #F5BF21;
}

.title a span {
  transition: color 0.35s linear;
}

.title a span:hover {
  color: white;
}


.nav-item {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-image {
  width: 85px;
  position: absolute;
  z-index: 0;
}

.bottom-image:hover {
  opacity: 0;
}

.bottom-image {
  width: 85px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}


.links a {
  color: #153652;
  font-size: 20px;
  display: flex;
  transition: color 0.4s linear;
}

.links ul {
  list-style-type: none;
  display: flex;
}

.links li {
  margin: 0 10px;
}

.links a:hover {
  color: white;
}

.search {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search #city-search {
  padding: 0 50px;
  height: 50px;
  width: 700px;
  border: 1px solid white;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}

.search #city-search:focus-visible {
  outline: none;
  opacity: 0.8;
}

.search #city-search:hover {
  opacity: 0.8;
}

.degreeSite {
  margin-top: 40px;
  text-align: center;
}

.degree-image img {
  width: 200px;
}

.city-name {
  color: white;
  font-size: 75px;
  font-weight: bold;
}

.city-degree {
  color: white;
  font-size: 65px;
  font-weight: bold;
}
.loader {
  width: 96px;
  height: 96px;
  border: 10px solid #FFF;
  border-bottom-color: transparent;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 64px;
 
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .mol-border{
    width: 200px;
    height: 75px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    margin-top: 25px;
    border-radius: 10%;
    
  }
  
  .mol-item{
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 1px 1px;
    border-radius: 10%;
    transition: background-color 0.35s linear;
    cursor: pointer;
    
  }

  .mol-item:hover{
    background-color: #153652;
  }

  .cityList{
    width: 1040px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    
    

  }
  .cityButton{
    margin: 35px 30px;
    width: 200px;
    height: 80px;
    color: white;
    background-color: #153652;
    border: none;
    font-size: 25px;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 1s linear;
    

  }

  .cityButton span{

    display: inline-block;
    width: 35px;
    height: 35px;
    border: 4.5px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
  }

  .cityButton:hover{
    background-color: #1094F6; 
  }


.footer {
  margin-top: 200px;
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, #153652 0%, #00B4DB 100%);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.hizliresim.com/3rkptsy.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}